.about {
  height: 100vh;
  width: 100%;
  padding-top: 20px;
}

.talents {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 10vw;
}

.talents .talent {
  height: 38vh;
  width: 25vw;
  background-color: #97cdff;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 20px;
}