.form-container {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  justify-content: center;
  display: flex;
  align-items: center;
}

.form-el {
  height: 85vh;
  background-color: #97cdff;
  text-align: center;
  z-index: 10;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form {
  height: 65vh;
  gap: 20px;
}

.form-el div {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

.form-el div label {
  font-weight: 500;
}

.form-el div input {
  width: 100%;
  border-radius: 6px;
  padding: 4px 8px;
}

.submit-btn {
  width: 200px;
  background-color: blue;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 16px;
  padding: 10px 0;
  justify-content: center;
  display: flex;
}

.show-password {
    position: absolute;
    right: 40vw;
    top: 61.5vh;
    font-weight: bold;
    font-size: 12px;
    color: blue;
  }

  .show-confirm-password {
    position: absolute;
    right: 40vw;
    top: 73.5vh;
    font-weight: bold;
    color: blue;
    font-size: 12px;
  }

  .show-password-login {
    top: 50.5vh;
  }

@media only screen and (max-width: 760px) {
  .show-password {
    right: 22vw;
    top: 61vh;
  }

  .show-confirm-password {
    right: 22vw;
    top: 73vh;
  }

  .show-password-login {
    top: 50vh;
  }
}
