.reviews {
  background-color: #979797;
  padding-top: 20px;
  width: 100%;
  color: black;
  padding: 20px 10%;
}

.review-profile-img {
  font-size: 34px;
  border: 1px solid #000;
  padding: 2px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-info {
  background-color: #97cdff;
  height: 25vh;
  width: 100%;
  border-radius: 10px;
  padding: 10px 400px;

}