.topnav {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  height: 10vh;
  align-items: center;
  text-align: center;
  box-shadow: 4px 4px 4px 4px solid black;
  padding: 8px 40px;
}

.menu {
  margin-right: 100px;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 12px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 26px;
  color: #000;
  cursor: pointer;
}

.open-menu {
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
  display: none;
}

.close-menu {
  font-weight: bold;
  font-size: 32px;
  cursor: pointer;
  color: #000;
  position: absolute;
  right: 40px;
  top: 10px;
  display: none;
}

.btns {
  margin-left: 20px;
  display: flex;
  gap: 10px;
  padding-top: 18px;

}

.btns .button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  background-color: blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width:670px) {
  .menu {
    /* background: #9acdff; */
    position: fixed;
    top: 0;
    margin-right: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    padding-top: 60px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }

  .menu ul {
    display: block;
  }

  .open-menu, .close-menu {
    display: block;
  }
}