* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("./styles/Topnav.css");
@import url("./styles/About.css");
@import url("./styles/Landing.css");
@import url("./styles/Clients.css");
@import url("./styles/Reviews.css");
@import url("./styles/WhyUs.css");